@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #080706;
  color: #f8f5ef;
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background: #d6b680;
  color: #080706;
}